<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to ACM Class Website, <%= @user.username %></h1>
    <p>
      You have successfully signed up to ACM Class Website,
      your username is: <%= @user.username %> and
      your password is: <%= @passwd %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: http://www.acm-project.org/users/sign_in .
      To change your password (recommended), check out: http://www.acm-project.org/site/password .
    </p>
    <p>Thanks for joining and have a great day!</p>
    <br />
    <hr />
    <p>
      Powered by <a href="http://github.com/oipn4e2/Enterprise-Wiki">Enterprise Wiki</a> <br/>
      Copyright &copy; 2011 Xiao Jia. All rights reserved.
    </p>
  </body>
</html>