table.history {
  border-spacing: 2px;
  border-color: gray;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 20px;
}
table.history tbody {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 100%;
  vertical-align: middle;
  line-height: 1.4;
}
table.history tr {
  background-color: #EBF2F6;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}
table.history tr:nth-child(2n) {
  background-color: #F3F7FA;
}
table.history tr.selected {
  background-color: #FFFFEA!important;
  z-index: 100;
}
table.history tr td {
  border: 1px solid #C0DCE9;
  line-height: 1.6em;
  font-size: .9em;
  margin: 0;
  padding: .3em .7em;
}
table.history tr td.checkbox {
  min-width: 2em;
  width: 2em;
  padding: .3em 0 .2em .8em;
}
table.history tr td.checkbox input {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
}
table.history tr td.author {
  width: 20%;
}
table.history tr td.author a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
table.history tr td.author a:hover {
  text-decoration: underline;
}
table.history tr td.author span.username {
  display: block;
  padding-top: 3px;
}
table.history tr td.commit-name {
  border-left: 0;
}
table.history tr td.commit-name span.time-elapsed {
  color: #999;
}

table.stat {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  padding: 0;
  margin: auto;
}
table.stat th {
  font-weight: bold;
}
table.stat th, table.stat td {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  padding: 10px;
  margin: 0;
}

table.users {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  padding: 0;
  margin: auto;
}
table.users th {
  font-weight: bold;
}
table.users th, table.users td {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  padding: 10px;
  margin: 0;
}